<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="field">
      <%= f.input :post, 
                  label: "post about it!", 
                  input_html: { class: "textarea is-large"}, 
                  wrapper: false, 
                  label_html: {class: "label" }, 
                  placeholder: "Compose a new post...", 
                  autofocus: true %>
  </div>
  
  <%= f.button :submit, class: "button is-link" %>
<% end %>