<p id="notice"><%= notice %></p>

<article class="panel is-link">
    <p class="panel-heading">New Post</p>
    <div class="panel-block" id="post">
        <%= @post.post %>
    </div>
    <div class="panel-block">
      <%= link_to 'Edit', edit_post_path(@post), class: "button is-success is-medium is-fullwidth" %>  
      <%= link_to 'Back', posts_path, class: "button is-danger is-medium is-fullwidth" %>
    </div>
</article>