// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post {
    min-height: 200px;
}

#post-form form {
    width: 100%;
}

#post-form form textarea {
    min-height: 300px;
}